.u-section-1 {
    background-image: none;
    min-height: 1921px;
  }
  
  .u-section-1 .u-shape-1 {
    width: 246px;
    height: 246px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 55px auto 0 calc(((100% - 1140px) / 2) + 20px);
  }
  
  .u-section-1 .u-image-1 {
    width: 213px;
    height: 213px;
    box-shadow: 5px 5px 18px 1px rgba(0,0,0,0.4);
    background-image: url("images/c795f390-b211-89eb-3ca9-860e3374b0d4.jpg");
    background-position: 50% 50%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin: -246px calc(((100% - 1140px) / 2)) 0 auto;
  }
  
  .u-section-1 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 1140px);
    min-height: 1241px;
    background-image: none;
    height: auto;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 160px 0 0 auto;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 17px 50px;
  }
  
  .u-section-1 .u-social-icons-1 {
    height: 32px;
    min-height: 16px;
    width: 296px;
    min-width: 248px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-icon-1 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-2 {
    height: 100%;
  }
  
  .u-section-1 .u-icon-3 {
    height: 100%;
  }
  
  .u-section-1 .u-text-1 {
    margin: 116px 0 0;
  }
  
  .u-section-1 .u-image-2 {
    width: 37px;
    height: 37px;
    margin: -99px auto 0 127px;
  }
  
  .u-section-1 .u-image-3 {
    width: 304px;
    height: 304px;
    background-image: url("images/252d200a-8959-423d-fbab-f15b7ec48c91.jpg");
    background-position: 50% 50%;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: -222px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    font-style: italic;
    margin: 0;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-style: italic;
    padding: 0;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin: 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 790px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-1 .u-icon-4 {
    width: 116px;
    height: 116px;
    background-image: none;
    margin: 214px auto 0;
    padding: 33px;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 32px 55px 0 21px;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 1.875rem;
    padding: 9px 0 11px;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 790px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin: 94px auto 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 460px;
    width: 500px;
    margin: 42px auto 0;
  }
  
  .u-section-1 .u-input-1 {
    height: 55px;
    background-image: none;
  }
  
  .u-section-1 .u-input-2 {
    height: 55px;
    background-image: none;
  }
  
  .u-section-1 .u-input-3 {
    background-image: none;
  }
  
  .u-section-1 .u-btn-3 {
    border-style: none;
    letter-spacing: 1px;
    background-image: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    padding: 14px 0 15px;
  }
  
  .u-section-1 .u-shape-2 {
    width: 168px;
    height: 168px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin: 24px auto 60px calc(((100% - 1140px) / 2) + 88px);
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-shape-1 {
      margin-left: calc(((100% - 940px) / 2) + 20px);
    }
  
    .u-section-1 .u-image-1 {
      margin-right: calc(((100% - 940px) / 2));
    }
  
    .u-section-1 .u-group-1 {
      width: calc(((100% - 940px) / 2) + 940px);
      height: auto;
    }
  
    .u-section-1 .u-image-3 {
      margin-top: -322px;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 101px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 651px;
    }
  
    .u-section-1 .u-text-3 {
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 651px;
    }
  
    .u-section-1 .u-form-1 {
      width: 378px;
    }
  
    .u-section-1 .u-shape-2 {
      margin-left: calc(((100% - 940px) / 2) + 88px);
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-shape-1 {
      margin-left: calc(((100% - 720px) / 2) + 20px);
    }
  
    .u-section-1 .u-image-1 {
      margin-right: calc(((100% - 720px) / 2));
    }
  
    .u-section-1 .u-group-1 {
      width: calc(((100% - 720px) / 2) + 720px);
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 130px;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-shape-2 {
      margin-left: calc(((100% - 720px) / 2) + 88px);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-shape-1 {
      margin-left: calc(((100% - 540px) / 2) + 20px);
    }
  
    .u-section-1 .u-image-1 {
      margin-right: calc(((100% - 540px) / 2));
    }
  
    .u-section-1 .u-group-1 {
      width: calc(((100% - 540px) / 2) + 540px);
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-top: 17px;
    }
  
    .u-section-1 .u-image-3 {
      margin-top: 108px;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: -329px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 2.25rem;
    }
  
    .u-section-1 .u-shape-2 {
      margin-left: calc(((100% - 540px) / 2) + 88px);
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-shape-1 {
      margin-left: calc(((100% - 340px) / 2) + 20px);
    }
  
    .u-section-1 .u-image-1 {
      margin-right: calc(((100% - 340px) / 2));
    }
  
    .u-section-1 .u-group-1 {
      width: calc(((100% - 340px) / 2) + 340px);
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-form-1 {
      width: 320px;
    }
  
    .u-section-1 .u-shape-2 {
      margin-left: calc(((100% - 340px) / 2) + 88px);
    }
  }